<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EPAM_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortRegServlet</display-name>
    <servlet-name>PortRegServlet</servlet-name>
    <servlet-class>cruise_company.servlets.port.PortRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortRegServlet</servlet-name>
    <url-pattern>/portReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortDelServlet</display-name>
    <servlet-name>PortDelServlet</servlet-name>
    <servlet-class>cruise_company.servlets.port.PortDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortDelServlet</servlet-name>
    <url-pattern>/portDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortUpdateServlet</display-name>
    <servlet-name>PortUpdateServlet</servlet-name>
    <servlet-class>cruise_company.servlets.port.PortUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortUpdateServlet</servlet-name>
    <url-pattern>/portUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteRegServlet</display-name>
    <servlet-name>RouteRegServlet</servlet-name>
    <servlet-class>cruise_company.servlets.route.RouteRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteRegServlet</servlet-name>
    <url-pattern>/routeReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteDelServlet</display-name>
    <servlet-name>RouteDelServlet</servlet-name>
    <servlet-class>cruise_company.servlets.route.RouteDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteDelServlet</servlet-name>
    <url-pattern>/routeDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinerRegServlet</display-name>
    <servlet-name>LinerRegServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.LinerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinerRegServlet</servlet-name>
    <url-pattern>/linerReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinerDelServlet</display-name>
    <servlet-name>LinerDelServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.LinerDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinerDelServlet</servlet-name>
    <url-pattern>/linerDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinerSetRouteServlet</display-name>
    <servlet-name>LinerSetRouteServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.LinerSetRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinerSetRouteServlet</servlet-name>
    <url-pattern>/linerSetRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalRegServlet</display-name>
    <servlet-name>PersonalRegServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.personal.PersonalRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalRegServlet</servlet-name>
    <url-pattern>/personalReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalDelServlet</display-name>
    <servlet-name>PersonalDelServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.personal.PersonalDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDelServlet</servlet-name>
    <url-pattern>/personalDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptRegServlet</display-name>
    <servlet-name>ReceiptRegServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.ReceiptRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptRegServlet</servlet-name>
    <url-pattern>/receiptReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentsUpload</display-name>
    <servlet-name>DocumentsUpload</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.DocumentsUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentsUpload</servlet-name>
    <url-pattern>/uploadDocuments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFilterRedirect</display-name>
    <servlet-name>AdminFilterRedirect</servlet-name>
    <servlet-class>cruise_company.filter.AdminFilterRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFilterRedirect</servlet-name>
    <url-pattern>/AdminFilterRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationFilterRedirect</display-name>
    <servlet-name>AuthenticationFilterRedirect</servlet-name>
    <servlet-class>cruise_company.filter.AuthenticationFilterRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationFilterRedirect</servlet-name>
    <url-pattern>/AuthenticationFilterRedirect</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>cruise_company.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/portReg</url-pattern>
    <url-pattern>/linerReg</url-pattern>
    <url-pattern>/routeReg</url-pattern>
    <url-pattern>/personalReg</url-pattern>
    <url-pattern>/uploadDocuments</url-pattern>
    <url-pattern>/portDel</url-pattern>
    <url-pattern>/linerDel </url-pattern>
    <url-pattern>/routeDel</url-pattern>
    <url-pattern>/personalDel</url-pattern>
    <url-pattern>/liner.jsp</url-pattern>
    <url-pattern>/personal.jsp</url-pattern>
    <url-pattern>/port.jsp</url-pattern>
    <url-pattern>/route.jsp</url-pattern>
    <url-pattern>/account.jsp</url-pattern>
    <url-pattern>/balance</url-pattern>
    <url-pattern>/promote</url-pattern>
    <url-pattern>/users</url-pattern>
    <url-pattern>/receipts</url-pattern>
    <url-pattern>/confirm</url-pattern>
    <url-pattern>/cancel</url-pattern>
    <url-pattern>/withdraw</url-pattern>
    <url-pattern>/balanse.jsp</url-pattern>
    <url-pattern>/receipt.jsp</url-pattern>
    <url-pattern>/uploadFile.jsp</url-pattern>
    <url-pattern>/user_receipts.jsp</url-pattern>
    <url-pattern>/users.jsp</url-pattern>
    <url-pattern>/receiptReg</url-pattern>
    <url-pattern>/logout</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cruise_company.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/portReg</url-pattern>
    <url-pattern>/linerReg</url-pattern>
    <url-pattern>/routeReg</url-pattern>
    <url-pattern>/personalReg</url-pattern>
    <url-pattern>/portDel</url-pattern>
    <url-pattern>/linerDel </url-pattern>
    <url-pattern>/routeDel</url-pattern>
    <url-pattern>/personalDel</url-pattern>
    <url-pattern>/liner.jsp</url-pattern>
    <url-pattern>/personal.jsp</url-pattern>
    <url-pattern>/port.jsp</url-pattern>
    <url-pattern>/route.jsp</url-pattern>
    <url-pattern>/promote</url-pattern>
    <url-pattern>/users</url-pattern>
    <url-pattern>/receipts</url-pattern>
    <url-pattern>/confirm</url-pattern>
    <url-pattern>/users.jsp</url-pattern>
    <url-pattern>/user_receipts.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserBalanceServlet</display-name>
    <servlet-name>UserBalanceServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.UserBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBalanceServlet</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReceiptServlet</display-name>
    <servlet-name>UserReceiptServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.UserReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReceiptServlet</servlet-name>
    <url-pattern>/receipts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmReceiptServlet</display-name>
    <servlet-name>ConfirmReceiptServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.ConfirmReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReceiptServlet</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.receipt.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromoteUserServlet</display-name>
    <servlet-name>PromoteUserServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.PromoteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoteUserServlet</servlet-name>
    <url-pattern>/promote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinerRouteServlet</display-name>
    <servlet-name>LinerRouteServlet</servlet-name>
    <servlet-class>cruise_company.servlets.liner.LinerRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinerRouteServlet</servlet-name>
    <url-pattern>/linerRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cruise_company.servlets.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFillter</display-name>
    <filter-name>LoginFillter</filter-name>
    <filter-class>cruise_company.filter.LoginFillter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFillter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>cruise_company.listener.TimeDelayInit</listener-class>
  </listener>
</web-app>